<div class="mobile-menu">
  <div class="container mobile-menu__container">
    <button class="mobile-menu__close-button">
      <svg
        class="mobile-menu__button-icon"
        width="15"
        height="15"
        aria-label="кнопка закрытия меню навигации"
      >
        <use href="/images/page-header/icons.svg#icon-close"></use>
      </svg>
    </button>

    <a class="logo" href="/index.html">
      <span>тут будет лого</span>
    </a>

    <nav class="mobile-menu__navigation">
      <ul class="mobile-menu__navigation-list">
        <li class="mobile-menu__navigation-item">
          <a href="#program" class="mobile-menu__navigation-link">Программы обучения</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a href="#about" class="mobile-menu__navigation-link">О нас</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a href="#how-we-do" class="mobile-menu__navigation-link">Варианты обучения</a>
        </li>
        <li class="mobile-menu__navigation-item">
          <a href="#footer" class="mobile-menu__navigation-link">Контакты</a>
        </li>
      </ul>
    </nav>

    <a href="tel:+38(000)0000000" class="mobile-menu__callback-link">Консультация по телефону</a>
  </div>
</div>
