<footer>
    <div class="footer">
        <div class="footer__links container">
            <div class="one">
                <a class="logo-mobile" href="/index.html">
                    <svg width="85" height="30" aria-label="иконка в логотипе">
                        <use href="/images/logo/icon-logo.svg#icon-logo-black" aria-label="logo-icon"></use>
                    </svg>                
                </a>
                <a class="logo" href="/index.html">
                    <div class="logo__name">
                        <span class="logo__name-en">Hell</span>
                        <svg class="logo__icon" width="22" height="30" aria-label="иконка в логотипе">
                            <use href="/images/logo/icon-logo.svg#icon-logo-fire" aria-label="logo-icon"></use>
                        </svg>
                        <span class="logo__name-en">En</span>
                    </div>
                    <div class="logo__name-ru">
                        <span class="logo__name-accent">Адский </span>Английский
                    </div>
                </a>
            </div>
            <a href="tel:+380000000000" class="footer__phone">
                <svg class="footer__icon" width="30" height="29" aria-label="иконка в логотипе">
                    <use href="/images/how-we-do/icon-sprite.svg#icon-phone" aria-label="logo-phone"></use>
                </svg>
                +38 (000) 000 00 00</a>
            <a href="https://www.instagram.com/" class="footer__instagram"></a>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright__section container">
            <p class="copyright__text">&commat; Все права защищены, 2019</p>
        </div>
    </div>
</footer>