<footer>
  <div class="footer">
    <div class="footer__links container">
      <div class="one">
        <a class="shield-mobile" href="/index.html">
          <svg width="85" height="30">
            <use href="/images/logo/icon-logo.svg#icon-logo-black"></use>
          </svg>
        </a>
        <a class="shield" href="/index.html">
          <div class="shield__name">
            <span class="shield__name-en">Hell</span>
            <svg class="shield__icon" width="22" height="30">
              <use href="/images/logo/icon-logo.svg#icon-logo-fire"></use>
            </svg>
            <span class="shield__name-en">En</span>
          </div>
          <div class="shield__name-ru">
            <span class="shield__name-accent">Адский </span>Английский
          </div>
        </a>
      </div>
      <a href="tel:+380000000000" class="footer__phone">
        <svg class="footer__icon" width="30" height="29">
          <use href="/images/how-we-do/icon-sprite.svg#icon-phone"></use>
        </svg>
        +38 (000) 000 00 00</a
      >
      <a href="https://www.instagram.com/" class="footer__instagram" target="_blank"></a>
    </div>
  </div>
  <div class="copyright">
    <div class="copyright__section container">
      <p class="copyright__text">&copy; Все права защищены, 2019</p>
    </div>
  </div>
</footer>
