<header class="page-header">
  <a class="logo" href="/index.html">
    <div>
      <span class="logo__name-en">Hell</span>
      <svg class="logo__icon" width="22" height="30" aria-label="иконка в логотипе">
        <use href="/images/logo/logo-icon.svg#logo-icon" aria-label="logo-icon"></use>
      </svg>
      <span class="logo__name-en">En</span>
    </div>
    <div>
      <span class="logo__name-ru">Адский </span><span class="logo__name-ru">Английский</span>
    </div>
  </a>

  <nav class="navigation page-header__navigation">
    <ul class="page-header__navigation-list">
      <li class="page-header__navigation-item">
        <a href="" class="page-header__navigation-link">Программы обучения</a>
      </li>
      <li class="page-header__navigation-item">
        <a href="" class="page-header__navigation-link">О нас</a>
      </li>
      <li class="page-header__navigation-item">
        <a href="" class="page-header__navigation-link">Варианты обучения</a>
      </li>
      <li class="page-header__navigation-item">
        <a href="" class="page-header__navigation-link">Контакты</a>
      </li>
    </ul>
  </nav>
  <a href="" class="page-header__callback-link">Консультация по телефону</a>
  <button class="page-header__menu-button">
    <svg
      class="page-header__menu-button-icon"
      width="21"
      height="12"
      aria-label="кнопка открытия меню навигации"
    >
      <use href="/images/page-header/icons.svg#menu-open"></use>
    </svg>
  </button>
</header>
