<section class="section section--program section-program">
    <div class="container section-program__container">
        <h2 class="section-program__title">Наша программа</h2>
        <div class="section-program__auxiliary-element">
            <div class="section-program__border"></div>
            <ul class="section-program__list">
                <li class="section-program__semester">
                    1 семестр
                    <ul>
                        <li class="section-program__aspect">
                            Grammar
                            <ul class="section-program__topic">
                                <li>Nouns & Articles</li>
                                <li>Adjectives & Adverb</li>
                            </ul>
                        </li>
                        <li class="section-program__aspect">
                            Vocabulary
                            <ul class="section-program__topic">
                                <li>Family & Relations</li>
                                <li>People & Society</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="section-program__semester">
                    2 семестр
                    <ul>
                        <li class="section-program__aspect">
                            Grammar
                            <ul class="section-program__topic">
                                <li>Pronouns</li>
                                <li>Active Voice</li>
                                <li>Passive Voice</li>
                            </ul>
                        </li>
                        <li class="section-program__aspect">
                            Vocabulary
                            <ul class="section-program__topic">
                                <li>Home</li>
                                <li>School</li>
                                <li>Work</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="section-program__semester">
                    3 семестр
                    <ul>
                        <li class="section-program__aspect">
                            Grammar
                            <ul class="section-program__topic">
                                <li>Modal verbs</li>
                                <li>Infinitive</li>
                                <li>Gerund</li>
                                <li>Participle: 1, 2</li>
                            </ul>
                        </li>
                        <li class="section-program__aspect">
                            Vocabulary
                            <ul class="section-program__topic">
                                <li>Travel & Tourism</li>
                                <li>Culture & Free Time</li>
                                <li>Sport</li>
                            </ul>
                        </li>
                        <li class="section-program__aspect">
                            Writing
                            <ul class="section-program__topic">
                                <li>Informal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="section-program__semester">
                    4 семестр
                    <ul>
                        <li class="section-program__aspect">
                            Grammar
                            <ul class="section-program__topic">
                                <li>Clauses: Conditional and Wishes</li>
                                <li>Direct / Reported speech</li>
                                <li>Preposition</li>
                                <li>Conjunction</li>
                                <li>Numeral</li>
                            </ul>
                        </li>
                        <li class="section-program__aspect">
                            Vocabulary
                            <ul class="section-program__topic">
                                <li>Healthy Living</li>
                                <li>Nature & Environment</li>
                                <li>Money</li>
                            </ul>
                        </li>
                        <li class="section-program__aspect">
                            Writing
                            <ul class="section-program__topic">
                                <li>Formal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="section-program__semester">
                    5 семестр
                    <ul>
                        <li class="section-program__aspect">-
                            <ul class="section-program__topic">
                                <li>Revision</li>
                                <li>Tests</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="section-program__bg-img"></div>
    </div>
</section>