<section class="problems">
  <div class="container">
    <h2 class="problems__title">
      Главные проблемы учеников на English ВНО, которые мы
      <span class="problems__title-accent">помогаем</span> решить
    </h2>
    <ul class="problems__list">
      <li class="problems__item"><p>Название грамматики</p></li>
      <li class="problems__item"><p>Неумение вомпринимать устную английскую речь</p></li>
      <li class="problems__item"><p>Скупой словарный запас для написани сочинения</p></li>
      <li class="problems__item"><p>Поодготовка в одиночку</p></li>
      <li class="problems__item"><p>Отсутствие единого ресурса знаний</p></li>
      <li class="problems__item"><p>Недостатой самоорганизации и лень</p></li>
    </ul>
  </div>
</section>
