<section class="section-hero">
  <div class="container">
    <h1 class="section-hero__title">
      Комплексная<br />
      подготовка к ВНО<br />
      по английскому <br />языку
    </h1>
    <p class="section-hero__pre-title">
      <span class="section-hero__pre-title-text section-hero__pre-title-text--gray"
        >Просто не будет. <br /> </span
      >Но ты гарантировано наберешь<span
        class="section-hero__pre-title-text section-hero__pre-title-text--accent"
        >+25 баллов</span
      >
    </p>
    <a href="#contacts" class="section-hero__callback-link">Хочу на бесплатное занятие</a>
  </div>
</section>
