<section class="reviews section section--reviews">
    <div class="container">
        <h2 class="reviews__title">Отзывы выпускников</h2>
        <div class="reviews__wrapper-list">
            <ul class="reviews__list">
                <li class="reviews__item is-close">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/alina.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Алина Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
                <li class="reviews__item is-close">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/bogdana.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Богдана Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
                <li class="reviews__item is-close">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/diana.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Диана Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
                <li class="reviews__item is-close">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/karolina.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Каролина Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
                <li class="reviews__item is-close">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/lida.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Лида Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
                <li class="reviews__item">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/tonyabig.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Тоня Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
                <li class="reviews__item is-close">
                    <div class="reviews__wrapper-img">
                        <img  class="reviews__img" src="./images/reviews/vika.jpg" alt="photo"/>
                        <a class="reviews__link">
                            <svg class="reviews__svg" width="30" heiight="16">
                                <use href="./images/reviews/reviews-sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__wrapper-text">
                        <h3 class="reviews__card-title">Вика Кучеровская</h3>
                        <p class="reviews__info">Выпуск 2015-го года, Національний університет біоресурсів і природокористування України</p>
                        <p class="reviews__text">
                            За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий словниковий запас. 
                            З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці. 
                            Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. 
                            Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу помилку. 
                            Зараз я можу похизуватись тим, що я студен ... 
                            <a href="" class="reviews__text-link"> Читать дальше</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="preview">
            <ul class="preview__list">
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(0)">
                        <img class="preview__img" src="./images/reviews/alina.jpg" alt="photo">
                    </div>
                </li>
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(1)">
                        <img class="preview__img" src="./images/reviews/bogdana.jpg" alt="photo">
                    </div>
                </li>
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(2)">
                        <img class="preview__img" src="./images/reviews/diana.jpg" alt="photo">
                    </div>
                </li>
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(3)">
                        <img class="preview__img" src="./images/reviews/karolina.jpg" alt="photo">
                    </div>
                </li>
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(4)">
                        <img class="preview__img" src="./images/reviews/lida.jpg" alt="photo">
                    </div>
                </li>
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(5)">
                        <img class="preview__img preview__img--curentlinck" src="./images/reviews/tonyabig.jpg" alt="photo">
                    </div>
                </li>
                <li class="preview__item">
                    <div class="preview__wrapper" onclick="previews(6)">
                        <img class="preview__img" src="./images/reviews/vika.jpg" alt="photo">
                    </div>
                </li>
            </ul>
        </div>
        <button class="reviews__btn-left">
            <svg class="reviews__btn-svg" width="25" heiight="15">
                <use href="./images/reviews/reviews-sprite.svg#icon-sign-left"></use>
            </svg>
        </button>
        <button class="reviews__btn-right">
            <svg  class="reviews__btn-svg" width="25" heiight="15">
                <use href="./images/reviews/reviews-sprite.svg#icon-sign-right"></use>
            </svg>
        </button>
    </div>
    
  </div>
</section>
