.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 320px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    min-width: 1280px;

    @media screen and (min-width: 1394px) {
      width: 1394px;
    }
  }
}

/* Логотип*/
.logo {
  color: var(--accent-color);
  transition: color var(--delay) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color-hovered);
  }

  .logo-mobile {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .logo-tablet {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 128px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.logo-tablet__group {
  display: flex;

  &:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
  }
}

.logo-tablet__name-en {
  font-weight: 800;
  font-size: 26px;
  line-height: 1.231;
  letter-spacing: 0.04em;
  color: var(--main-txt-color);

  &:first-child {
    margin-right: 4px;
  }

  &:last-child {
    margin-left: 4px;
  }
}

.logo-tablet__name-en--uppercase {
  text-transform: uppercase;
}

.logo-tablet__name-ru {
  display: inline;
  font-weight: bold;
  font-size: 8px;
  line-height: 1.25;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}

.logo-tablet__name-ru--accent-color {
  color: var(--accent-color);
}

.logo-mobile__icon,
.logo-tablet__icon {
  fill: currentColor;
}
