.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  min-width: 320px;

  @media screen and (min-width: var(--tablet)) {
    padding: 0 40px;
    width: var(--tablet);
  }

  @media screen and (min-width: var(--desktop)) {
    padding: 0 183px;
    width: var(--desktop);
  }
}

// header {
//   padding: 30px 0;

//   @media screen and (min-width: var(--tablet)) {
//     padding: 40px 0;
//   }

//   @media screen and (min-width: var(--desktop)) {
//     padding: 33px 0;
//   }
// }

.section {
  background-color: var(--third-bg-color);
  padding: 50px 0;

  @media screen and (min-width: var(--desktop)) {
    padding: 130px 0;
  }


  &--hero {
    padding: 20px 0 30px;

    @media screen and (min-width: var(--tablet)) {
      padding-top: 30px;
    }

    @media screen and (min-width: var(--desktop)) {
      padding-top: 13px;
      padding-bottom: 7px;
    }
  }

  &--advantages {
    padding-top: 0px;

    @media screen and (min-width: var(--tablet)) {
      padding-top: 50px;
    }

    @media screen and (min-width: var(--desktop)) {
      padding-top: 100px;
    }
  }

  &--problems {
    background-color: var(--secondary-bg-color);
    padding-bottom: 0px;

    @media screen and (min-width: var(--tablet)) {
      padding-top: 60px;
    }

    @media screen and (min-width: var(--desktop)) {
      padding-top: 100px;
    }
  }

  &--program {
    background-color: var(--secondary-bg-color);
    padding-bottom: 668px;

    @media screen and (min-width: var(--tablet)) {
      padding-top: 60px;
      padding-bottom: 424px;
    }

    @media screen and (min-width: var(--desktop)) {
      padding-top: 120px;
      padding-bottom: 258px;
    }
  }

  &--benefits {
    padding: 20px 0;

    @media screen and (min-width: var(--tablet)) {
      padding-top: 30px;
      padding-bottom: 25px;
    }

    @media screen and (min-width: var(--desktop)) {
      padding: 70px 0;
    }
  }

  &--about {
    @media screen and (max-width: var(--tablet_-1)) {
      padding-top: 39px;
    }
  }

  &--guarantee {
    padding-top: 0px;
  }

  &--reviews {
    padding-top: 0px;
  }

  &--contacts {
    background-color: var(--secondary-bg-color);

    @media screen and (min-width: var(--tablet)) {
      padding-bottom: 71px;
    }

    @media screen and (min-width: var(--desktop)) {
      padding-top: 100px;
      padding-bottom: 62px;
    }
  }
}

// footer {
//   padding: 30px 0 21px;

//   @media screen and (min-width: var(--tablet)) {
//     padding-top: 40px;
//   }

//   @media screen and (min-width: var(--desktop)) {
//     padding-top: 52px;
//   }
// }
