.reviews {
  padding: 50px auto;

  @media screen and (min-width: 1280px) {
    padding: 130px auto;
  }
  text-align: center;
}

.reviews__container {
  position: relative;
  padding-bottom: 54px;
}

.reviews__title {
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-bg-color);

  @media screen and (min-width: 678px) {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.308;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
    font-size: 46px;
    line-height: 1.304;
  }
}

.reviews__wrapper-list {
  // position: relative;
  margin: 20px auto;
  padding: 20px 20px 30px;
  background-color: var(--third-bg-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    max-width: 688px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 50px 112px 50px 82px;
    max-width: 1090px;
  }
}

.reviews__thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  flex-basis: calc(100%);

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 688px;
  }

  @media screen and (min-width: 1280px) {
    width: 1090px;
  }
}

.reviews__wrapper-img {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  @media screen and (min-width: 768px) {
    max-width: 150px;
  }
}

.reviews__image-thumb {
  margin-bottom: 27px;
  width: 90px;
  height: 90px;

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.reviews__img {
  width: 100%;
}

.reviews__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 16px;
}

.reviews__wrapper-text {
  margin-top: 26px;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-left: 46px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 40px;
  }
}

.reviews__card-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.08em;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.233;
  }
}

.reviews__info {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  color: var(--third-txt-color);

  @media screen and (min-width: 768px) {
    max-width: 412px;
    margin-top: 20px;
    text-align: left;
  }

  @media screen and (min-width: 1280px) {
    max-width: 438px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.214;
  }
}

.reviews__text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: var(--fourth-txt-color);

  @media screen and (min-width: 768px) {
    max-width: 412px;
    margin-top: 20px;
    text-align: left;
  }

  @media screen and (min-width: 1279px) {
    max-width: 706px;
    font-size: 18px;
    line-height: 1.556;
  }
}

.reviews__text-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.preview__wrapper {
  display: block;
  padding: 0;
  width: 54px !important;
  height: 54px;
  color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  // overflow: hidden;

  &:hover,
  &:focus {
    border-radius: 50%;
    border: 1px solid var(--accent-color);
  }
}

.preview__img {
  // width: 100%;
  height: 100%;
}

.slick-slider {
  position: unset;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0px);

  display: flex;
  flex-direction: row;

  @media screen and (max-width: 767px) {
    width: 310px;
    overflow-x: hidden;
  }

  @media screen and (max-width: 479px) {
    width: 182px;
    overflow-x: scroll;
  }
}

.slick-dots > li {
  &:not(:first-child) {
    margin-left: 10px;

    @media screen and (min-width: 768px) {
      margin-left: 30px;
    }
  }
  width: 54px;
  height: 54px;
}

.slick-dots button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
  color: transparent;
  border-radius: 50%;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 3px solid transparent;
  }
}

#slick-slide-control00 {
  @include backGroundImage2x('/images/reviews/alina-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/alina-54.jpg');
}

#slick-slide-control01 {
  @include backGroundImage2x('/images/reviews/bogdana-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/bogdana-54.jpg');
}

#slick-slide-control02 {
  @include backGroundImage2x('/images/reviews/diana-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/diana-54.jpg');
}

#slick-slide-control03 {
  @include backGroundImage2x('/images/reviews/karolina-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/karolina-54.jpg');
}

#slick-slide-control04 {
  @include backGroundImage2x('/images/reviews/lida-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/lida-54.jpg');
}

#slick-slide-control05 {
  @include backGroundImage2x('/images/reviews/tonya-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/tonya-54.jpg');
}

#slick-slide-control06 {
  @include backGroundImage2x('/images/reviews/vika-54@2x.jpg');
  @include backGroundImage1x('/images/reviews/vika-54.jpg');
}

.slick-arrow {
  position: absolute;
  bottom: 0;
  // z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 25px;
  height: 15px;
  font-size: 0;
  background-color: transparent;
  background-size: 25px 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

.slick-prev {
  left: 0;

  transform: translate(20px, calc(-27px + 50%));

  @media screen and (min-width: 768px) {
    transform: translate(100%, calc(-240px + 50%));
  }

  @media screen and (min-width: 1280px) {
    transform: translate(60px, calc(-279px + 50%));
  }

  @media screen and (min-width: 1680px) {
    transform: translate(calc(60px + 40px), calc(-279px + 50%));
  }

  background-image: url('/images/reviews/arrow-left.svg');
}

.slick-next {
  right: 0;
  transform: translate(-20px, calc(-27px + 50%));

  @media screen and (min-width: 768px) {
    transform: translate(-100%, calc(-240px + 50%));
  }

  @media screen and (min-width: 1280px) {
    transform: translate(-60px, calc(-279px + 50%));
  }

  @media screen and (min-width: 1680px) {
    transform: translate(calc(-60px - 40px), calc(-279px + 50%));
  }

  background-image: url('/images/reviews/arrow-right.svg');
}
